In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("arcos_all_washpost.tsv", delimiter="\t", nrows=10000)

In [24]:
df.iloc[:, :11].tail()

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,BUYER_DEA_NO
9995,PC0003044,DISTRIBUTOR,"CARDINAL HEALTH 110, LLC",NaN,6012 EAST MOLLOY RD,NaN,SYRACUSE,NY,13211,ONONDAGA,AL0551514
9996,PC0003044,DISTRIBUTOR,"CARDINAL HEALTH 110, LLC",NaN,6012 EAST MOLLOY RD,NaN,SYRACUSE,NY,13211,ONONDAGA,AL0551514
9997,PC0003044,DISTRIBUTOR,"CARDINAL HEALTH 110, LLC",NaN,6012 EAST MOLLOY RD,NaN,SYRACUSE,NY,13211,ONONDAGA,AL0558936
9998,PC0003044,DISTRIBUTOR,"CARDINAL HEALTH 110, LLC",NaN,6012 EAST MOLLOY RD,NaN,SYRACUSE,NY,13211,ONONDAGA,AL0558936
9999,PC0003044,DISTRIBUTOR,"CARDINAL HEALTH 110, LLC",NaN,6012 EAST MOLLOY RD,NaN,SYRACUSE,NY,13211,ONONDAGA,AL0558936

In [25]:
df.iloc[:, 11:21].tail()

,BUYER_BUS_ACT,BUYER_NAME,BUYER_ADDL_CO_INFO,BUYER_ADDRESS1,BUYER_ADDRESS2,BUYER_CITY,BUYER_STATE,BUYER_ZIP,BUYER_COUNTY,TRANSACTION_CODE
9995,CHAIN PHARMACY,"CVS ALBANY, L.L.C.",DBA: CVS/PHARMACY # 00565,138 VESTAL PARKWAY WEST,NaN,VESTAL,NY,13850,BROOME,S
9996,CHAIN PHARMACY,"CVS ALBANY, L.L.C.",DBA: CVS/PHARMACY # 00565,138 VESTAL PARKWAY WEST,NaN,VESTAL,NY,13850,BROOME,S
9997,CHAIN PHARMACY,"CVS ALBANY, L.L.C.",DBA: CVS/PHARMACY # 00586,525 SPENCERPORT RD,GATES SHOPPING PLZ,ROCHESTER,NY,14606,MONROE,S
9998,CHAIN PHARMACY,"CVS ALBANY, L.L.C.",DBA: CVS/PHARMACY # 00586,525 SPENCERPORT RD,GATES SHOPPING PLZ,ROCHESTER,NY,14606,MONROE,S
9999,CHAIN PHARMACY,"CVS ALBANY, L.L.C.",DBA: CVS/PHARMACY # 00586,525 SPENCERPORT RD,GATES SHOPPING PLZ,ROCHESTER,NY,14606,MONROE,S

In [26]:
df.iloc[:, 21: 31].tail()

,DRUG_CODE,NDC_NO,DRUG_NAME,QUANTITY,UNIT,ACTION_INDICATOR,ORDER_FORM_NO,CORRECTION_NO,STRENGTH,TRANSACTION_DATE
9995,9143,406055201,OXYCODONE,2.0,NaN,NaN,125595245,NaN,NaN,11272012
9996,9143,591093301,OXYCODONE,1.0,NaN,NaN,125595241,NaN,NaN,12032012
9997,9143,52152021402,OXYCODONE,6.0,NaN,NaN,056893341,NaN,0.0,1162006
9998,9143,406051201,OXYCODONE,30.0,NaN,NaN,056893351,NaN,0.0,1302006
9999,9143,406051201,OXYCODONE,45.0,NaN,NaN,056893362,NaN,0.0,2092006

In [27]:
df.iloc[:, 31:].tail()

,CALC_BASE_WT_IN_GM,DOSAGE_UNIT,TRANSACTION_ID,Product_Name,Ingredient_Name,Measure,MME_Conversion_Factor,Combined_Labeler_Name,Revised_Company_Name,Reporter_family,dos_str
9995,0.896500,200.0,1211055496,OXYCODONE HYDROCHLORIDE TABLETS 5MG,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,Mallinckrodt,Cardinal Health,5.0
9996,0.672375,100.0,1212000874,OXYCODONE.HCL/APAP 7.5MG/325MG TABS,OXYCODONE HYDROCHLORIDE,TAB,1.5,"Actavis Pharma, Inc.","Allergan, Inc.",Cardinal Health,7.5
9997,8.068500,600.0,601022122,OXYCODONE HYDROCHLORIDE TABLETS USP,OXYCODONE HYDROCHLORIDE,TAB,1.5,"Actavis Pharma, Inc.","Allergan, Inc.",Cardinal Health,15.0
9998,13.447500,3000.0,601045175,OXYCODONE HCL/ACETAMINOPHEN 5MG/325M,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,Mallinckrodt,Cardinal Health,5.0
9999,20.171250,4500.0,602014816,OXYCODONE HCL/ACETAMINOPHEN 5MG/325M,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,Mallinckrodt,Cardinal Health,5.0

In [28]:
df.to_csv('washington_post_first10klines.tsv', sep="\t")